logzero
sqlite_utils
../omspy-main/
git+https://github.com/pannet1/omspy-brokers
pandas
numpy
pyotp
pydantic
git+https://github.com/pannet1/NorenRestApiPy
kiteconnect
selenium
websocket_client
pyyaml
